@model CurenncyExchange.MVC.Models.CurrencyViewModel

@{
    ViewData["Title"] = "Index";
}

<div>
  <h4>Live Exchange Rates Today</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USD)
        </dt>
        <dd class = "col-sm-14">
            @Html.DisplayFor(model => model.USD)  @Html.ActionLink("Buy", "Transaction", new {  type = 1 ,value = @ViewBag.USD})
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EURO)
        </dt>
        <dd class = "col-sm-14">
            @Html.DisplayFor(model => model.EURO)  @Html.ActionLink("Buy", "Transaction", new {  type = 2 ,value = @ViewBag.EURO})
        </dd>
    </dl>
</div>
<div>

</div>
